<template>
  <div>
    <nuxt-link to="/test">test page</nuxt-link>
    <div ref="main" class="swiper swiper-main">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="https://www.purinaone.ru/cat/sites/default/files/2019-03/article_indoor-outdoor.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.lifehacker.ru/wp-content/uploads/2018/07/Skolko-zhivut-koshki-i-kak-prodlit-zhizn-svoego-pitomca_1530392002-1280x640.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://zagge.ru/wp-content/uploads/2019/06/aHR0cDovL3d3dy5saXZlc2N.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- If we need scrollbar -->
    </div>
    <div ref="thumb" class="swiper swiper-thumb">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="https://www.purinaone.ru/cat/sites/default/files/2019-03/article_indoor-outdoor.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.lifehacker.ru/wp-content/uploads/2018/07/Skolko-zhivut-koshki-i-kak-prodlit-zhizn-svoego-pitomca_1530392002-1280x640.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://zagge.ru/wp-content/uploads/2019/06/aHR0cDovL3d3dy5saXZlc2N.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- If we need scrollbar -->
    </div>
  </div>
</template>

<script>
import Swiper from "swiper/swiper-bundle.esm.browser.min";
// Import Swiper styles
import "swiper/swiper-bundle.css";

export default {
  data() {
    return {
      main: null,
      thumb: null,
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.thumb = new Swiper(this.$refs.thumb, {
        spaceBetween: 10,
        slidesPerView: 5,
        freeMode: true,
        watchSlidesProgress: true,
      });

      this.main = new Swiper(this.$refs.main, {
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: this.thumb,
        },
      });
    });
  },

  destroyed() {
    console.log("destroy");
    this.thumb && this.thumb.destroy();
    this.main && this.main.destroy();
  },
};
</script>

<style>
.swiper-main {
  width: 500px;
  margin: 0 auto;
}

.swiper-main img {
  max-width: 100%;
  object-fit: cover;
}

.swiper-thumb img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
